isodoc.dtx
isodoc.ins
mlaresearch.aux
mlaresearch.cls
mlaresearch.dvi
mlaresearch.glo
mlaresearch.gls
mlaresearch.idx
mlaresearch.ilg
mlaresearch.ind
mlaresearch.log
mlaresearch.pdf
mlaresearch.toc
power-essay.aux
power-essay.bbl
power-essay.bcf
power-essay.blg
power-essay.log
power-essay.pdf
power-essay.run.xml
power-essay.tex
*.aux
*.log
*.blg
*.run.xml
power.bib
